# Supabase pooled connection for the running app
DATABASE_URL="postgresql://postgres.avlgcroueaulyijxdeuw:YOUR_PASSWORD@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true&sslmode=require"

# Supabase direct connection for Prisma db push / migrations
DIRECT_URL="postgresql://postgres:YOUR_PASSWORD@db.avlgcroueaulyijxdeuw.supabase.co:5432/postgres?sslmode=require"

AUTH_SECRET="0e8aeac2-1e68-4ede-ae3f-29f806379ffbb6dcdab8-329c-489c-ab95-348fe947a3c6"
GEMINI_API_KEY="AIzaSyASQcd1mS7sNz_5pyp2RHEPhgBPy0JWnfc"
NEXTAUTH_URL="http://localhost:3000"
